[submodule "src/3rdparty/qface"]
	path = src/3rdparty/qface
	url = ../qtivi-qface.git
[submodule "src/3rdparty/taglib/taglib"]
	path = src/3rdparty/taglib/taglib
	url = ../qtivi-taglib.git
	branch = upstream/master
