version: 2
accept_configuration:
  condition: and
  conditions:
    - condition: property
      property: target.osVersion
      not_equals_value: QEMU
    - condition: property
      property: target.os
      not_equals_value: IOS
    - condition: or
      conditions:
        - condition: property
          property: target.os
          not_equals_value: MacOS
        - condition: property
          property: host.arch
          not_equals_value: ARM64

instructions:
  Build:
  - type: AppendToEnvironmentVariable
    variableName: NON_QTBASE_CONFIGURE_ARGS
    variableValue: " -DPython3_ROOT_DIR={{.Env.PYTHON3_PATH}}"
  - type: AppendToEnvironmentVariable
    variableName: NON_QTBASE_TARGET_CONFIGURE_ARGS
    variableValue: " -DPython3_ROOT_DIR={{.Env.PYTHON3_PATH}}"
  - type: Group
    instructions:
      - !include "{{qt/qtbase}}/coin_module_build_template_v2.yaml"

  Test:
    - !include "{{qt/qtbase}}/coin_module_test_template_v3.yaml"
